.buttonsContainer {
    display: flex;
    gap: 24px;
    margin-bottom: 30px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
    min-height: 315px;
}

.imageContainer {
}

.image {
}

.textContainer{
    font-weight: 500;
}

.code {
    font-size: 30px;
    margin-bottom: 12px;
}

.text {
}
.info {
}