.loader {
    width: 108px;
    height: 108px;
    background-image: url('./Loading.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}