.greetingForm {
    font-size: 14px;
    font-weight: 400;
}

.inputAndButtonContainer {
    display: flex;
    align-items: baseline;
    gap: 12px;
    margin: 10px 0;
}

.error {
    color: #CC0000;
}

.input {
    min-width: 372px;
    max-height: 36px;
    margin-bottom: 7px;
    padding: 8px 12px;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.input:focus {
}

.errorInput {
    border-color: #CC0000;
}

.button {
    padding: 8px 24px;
    font-weight: 600;
    background-color: #0066CC;
    color: #FFFFFF;
    border: 1px solid transparent;
    border-radius: 3px;
    text-transform: capitalize;
}

.button:focus {
    background-color: white;
    color: #0066CC;
    border: 1px solid #0066CC;
}

.button:active {
    background-color: white;
    color: #0066CC;
    border: 1px solid #0066CC;
}

.button:disabled {
    opacity: 0.5;
}

.text {
    color: #00000080;
}

.greeting {
    font-weight: 500;
}
